body {
    color:#ff0000;
    background-color: #ff4d4d;
    font-family:Arial, Helvetica, sans-serif;
    background:url(images/bg.jpg);
    background-size:cover;

}
div {
    background:#ffcccc;
    padding:5px;
    margin: 20px auto;
    border-radius:10px; /*Curved edges on the box*/
    width:80%
}

#menu ul {
    width:fit-content;
    margin:auto;
    border-radius:5px;
    display:inline-block;
}

#menu li {
    list-style-type: none;
    display:inline-block;
    padding:20px;
    border:2px;
    margin:5px;
    background-color: #ff6666;
}
#menu a {
    text-decoration: none;
    color:black;
    padding: 5px;
    margin: 5px auto;
    border-radius: 50px;
}

#menu a:hover {
    padding:20px;
    width:80px;
    margin:5px auto;
    border-radius: 5px;
    background:#ffb3b3;
    color:white;
}
#pic1 {
    width:100%;
    max-height: 200px;
    padding:2px;
    border-radius:8px;
}
.apples {
    width:100px;
}
#table {
    text-align: right;
}

#main-header {
    text-align: center;
}
#main-table {
    text-align: center;
    padding:3px;
    border-collapse:collapse;
    margin:0 auto;
    width:100%;
}