body {
    color:red;
    background-color: gray;
}
div {
    background: white;
    padding:5px;
    margin: 20px auto;
    width:70%
}

#menu ul {
    padding:0%;
    width:fit-content;
    margin:auto;
}

#menu li {
    list-style-type: none;
    display:inline-block;
}

#menu a {
    text-decoration: none;
    color:red;
    padding: 5px;
    margin: 5px;
    border-radius: 2px;
}

#menu a:hover {
    background:black;
    color:blue;
}
