body {
    background-color: #73000A;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

h1 {
    font-size: 30px;
}

hr {
    color: white;
    width: 100%;
}

h4 {
    text-align: center;
    padding: 10px;
}

h3 {
    font-size: 55px auto;
    text-wrap:wrap;
}

div {
    padding: 10px;
    margin: auto;
    width: 100%;
    border-radius: 25px;
    text-align: center;
}

.main-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; /* Allow items to wrap on smaller screens */
    justify-content: space-between;
    gap:50%;
}

.assignments, .projects {
    flex: 1;
    margin: 20px;
}

.columns {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
}

img {
    max-width: 200px; 
    height: 200px;   
    display: block;
    margin: 0 auto;  
}

li {
    text-align: center;
    list-style-type: none;
    display: inline-block;
}

@media only screen and (min-width: 300px) {
    .main-container {
        gap: 20px; /* Space between sections on larger screens */
        width:100%
    }
    .columns {
        align-items: center;
        width:90%;
    }
    #large {
        border:3px solid black;
        width:25% auto;
        padding:2%;
        border-radius: 10%;

    }
   
}

@media only screen and (max-width: 768px) {
    .main-container {
        flex-direction: column;
    }
    .h3 {
        font-size: 40px;
    }
}

#main-footer {
    text-align: center;
    color: white;
    background-color: 73000A;
}
.vertical-line {
    border-left: 2px solid white; /* Change color and thickness as needed */
    height: 100%; /* Adjust height as needed */
    margin: 0 20px; /* Add horizontal spacing around the line */
}

.main-page-holder {
    background-color: #000000; 
    padding: 20px auto; 
    margin: 30px auto; 
    border-radius: 15px;
    width: 100%; 
    max-width: 100%; 
    height: auto; 
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.main-page-holder a {
    text-decoration: none;
}

.main-page-holder p {
    color: white;
    max-width: 300px; 
    padding-top:3%;
    margin: 0 auto; 
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

a {
    text-decoration: none;
}

#images {
    max-width: 300px;
    height: 150px;
    display: block;
    margin: 0 auto;
}
