body {
    background-color: #73000A;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;

}

h1 {
    font-size: 30px;
}

hr {
    color: white;
    width: 100%;
}

h4 {
    text-align: center;
    padding: 10px;
}

h3 {
    font-size: fit-content;
    
}
#class-notes img {
    width:auto;
    height:auto;
}

div {
    padding: 10px;
    margin: auto;
    width: 100%;
    border-radius: 25px;
    text-align: center;
}

.main-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; 
    justify-content: space-between;
    gap:50%;

}

.assignments, .projects {
    flex: 1;
    margin: 20px;
}

.columns {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
}

img {
    max-width: 200px; 
    height: 200px;   
    display: block;
    margin: 0 auto;  
}

li {
    text-align: center;
    list-style-type: none;
    display: inline-block;
}

@media only screen and (min-width: 300px) {
    .main-container {
        gap: 20px; 
        width:100%
    }
    .columns {
        align-items: center;
        width:90%;
    }
    #large {
        border:3px solid black;
        width:25% auto;
        padding:2%;
        border-radius: 10%;

    }
   
}

@media only screen and (max-width: 768px) {
    .main-container {
        flex-direction: column;
    }
    .h3 {
        font-size: 40px;
    }
}

#main-footer {
    text-align: center;
    color: white;
    background-color: 73000A;
}
.vertical-line {
    border-left: 2px solid white; 
    height: 100%;
    margin: 0 20px;
}
.main-page-holder {
    background-color: #000000; 
    padding: 20px; 
    margin: 30px auto; 
    border-radius: 15px;
    width: 300px;
    height: 350px; 
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    display: flex; 
    flex-direction: column; 
    justify-content: space-between;
    align-items: center; 
}

.main-page-holder img {
    max-width: 100%; 
    height: auto; 
}

.main-page-holder h3, .main-page-holder p {
    text-align: center; 
    margin: 5px 0; 
    flex-grow: 1;
    overflow: hidden; 
    text-overflow: ellipsis; 
}

a {
    text-decoration: none;
}

#images {
    max-width: 300px;
    height: 150px;
    display: block;
    margin: 0 auto;
}

a.local-link {
    margin:3%;
    color:white;
    text-decoration: none;
}
#assignment-link {
    color:white;
}
h3 white {
    color:white;
}