body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: #f2f0d5;
    width:100%;
}

img {
    max-width: 200px;
    max-height:200px;
}

p {
    text-align: left;
    font-size:12px;
    color:white;
}

h1{
    color:grey;
    text-align: center;
    padding:2px;
}

h3{
   color:white;
}

h5 {
    text-align: left;
    font-size:22px;
    color:gray;
}

#content {
    margin: 0  auto;
    background:#f2f0d5;
    border-radius: 5px;
    max-width: 100%;
}

#main-cont {
    text-align: center;
    display: flex;
    flex-wrap: wrap; 
}


.lower-div {
    display:flex;
   text-align: center;
    align-items: center;
    flex-direction: column;
}

#main-cont section {
    background: gray;
    flex: 1 1 calc(25% - 20px); 
    box-sizing: border-box;
    padding: 10px; 
    margin-bottom: 10px;
}

#species section {
    background: gray;
    padding: 5px;
}

#main-aside {
    background-color: #d98282;
    max-width: 250px auto;
    order: 2;
    padding:5px;
 
}

#main-content {
    display: flex;
    background-color: #F2F0D5;
    margin:0px;
}

img {
    max-width: 100%;
}

#main-header {
    background-color: #f2f0d5;
    text-align: center;
}

.big-idea-content {
    color:grey;
    text-align: left;
    margin:5px;
}


#main-nav li {
    list-style-type: none;
    text-align: center;
}

#main-nav ul {
    padding-left: 0;
    text-align: center;
}

#main-nav a {
    text-decoration: none;
    padding: 10px;
    text-align: center;
    margin:1px;
    background: #d98282;
    color: white;
    display: block;
    font-family: Arial, Helvetica, sans-serif;
}


#main-footer p {
    text-align: center;
    width:auto;
 
}
a {
    color:white;
}
#main-aside {
    color:white;
   margin-left:0;
    padding-left:30px auto;
    text-align: left;
    padding-bottom:10px;
}

@media only screen and (min-width: 799px) {
    .columns {
        display: flex;
    }

    .one {
        flex: 1;
    }

    .two {
        flex: 2;
    }

    .three {
        flex: 3;
    }

    .four {
        flex: 4;
    }
   
    #main-nav li {
        flex: 1;
        text-align: left;
    }
    .big-idea-content {
        padding:10px;
    }
   
}

#big-idea {
    display:flex;
   
    flex-wrap:wrap;
}

.big-idea {
    display:flex;
    text-align: center;
    flex:1;
    padding:15px;
    
}

#big-ideas {
    padding:25px;
    margin:5px;
}

@media only screen and (max-width: 600px) {
    #main-cont {
        flex-direction: column;
        text-align: center;
    }
    #main-cont section {
        flex:1;
        text-align: center;
    }
  
     #big-ideas {
        display:flex;
        text-align:center;
        flex-direction: column;
        
    }
    .big-idea {
        flex-direction: column;
        align-items: center;
    }
    .big-idea img {
        max-width:200px;
        max-height:200px;
        align-items: center;
        
    }
    .big-idea-content {
        text-align: center;
    }
}
